body{
  font-family: roboto, sans-serif!important;
}
#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#main-area {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

button.search-button, .search-button button {
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  background-color: white;
  color: #0066FF;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 10px 2px #1f1f1f36;
  height: 80px;
  width: 380px;
}

.search-button:focus {
  outline: 0;
}

#options-area {
  margin-top: 40px;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#user-thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}