.cart-widget {
  border: none;
  padding: 5px 20px;
  font-size: 20px;
  background-color: #e6e6e6;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.cart-widget p {
  margin: 0;
  font-size: 15px;
  margin-right: 10px;
  font-weight: bold;
  margin-left: 10px;
}

.cart-widget i {
  color: #0066FF;
}

.circle {
  position: relative;
  right: -12px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: white;
  color: red;
  border-radius: 100%;
}